@import url('https://fonts.googleapis.com/css?family=Arvo:400i|Major+Mono+Display');
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}
#title {
	text-align: center;
}
#t1 {
	font-size: calc(100vw / 1.25 / 6);
}
#t2 {
	font-size: calc(100vw / 1.25 / 8);
}
@media only screen and (max-width: 900px) {
	#t1 {
		font-size: calc(100vw * 1.5 / 6);
	}
	#t2 {
		font-size: calc(100vw * 1.5 / 8);
	}
}
h1 {
	margin: 0;
	line-height: 1.5;
	font-family: "Arvo", serif;
	display: inline-block;
}

#links {
	text-align: center;
	font-size: 3em;
	margin-top: 100px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
a {
	color: black;
	font-family: "Major Mono Display", monospace;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
