@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i|Roboto+Mono');
html {
	height: 100%;
	width: 100%;
	margin: 0;
}
body {
	margin: auto;
	max-width: 35em;
}
h1 {
	text-align: center;
	margin: 5%;
	font-family: "Arvo";
	font-style: italic;
	text-decoration: underline;
	font-size: 3em;
}
h2 {
	font-family: "Arvo";
}
p, li {
	line-height: 1.5;
	font-family: "Roboto Mono", monospace;
}
p {
	margin: 0 4% 4% 4%;
}
a {
	color: black;
	text-decoration: underline dashed;
}
a:hover {
	text-decoration: underline solid;
}
